.nav_container {
    height: 30px;
    width: 500px;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    transition: all 1s;
}

.nav_link {
    transition: all 1s;
    position: absolute;
    left: -260px;

}

.navLinkHover {
    position: absolute;
    transition: all 1s;
    left: +1px;
    margin-left: 10px;
}

.link {
    padding: 5px;
    text-decoration: none;

}

a.active {
    text-decoration: none;
    background-color: #A31925;
}

span {
    /*  padding: 20px;*/
}

.navLinkHover:hover > .ch {
    opacity: 0;
    transition: all 1.5s;
}