.app {
    padding: 20px;
    width: 600px;
    text-align: center;
    margin: 30px;
    background-color: antiquewhite;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.affair {
    background-color: burlywood;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.affairPart {
    width: 25%;
    padding: 4px;
}

.affair:last-child {
    display: inline-block;
    width: 25%;

}


.buttons {
    margin: 30px 10px 0 10px;
    padding: 5px;
    border-radius: 10px;
    text-decoration: none;
    border: solid 1px gray;
    background-color: bisque;
}

.btn {
    border-radius: 50%;
    text-decoration: none;
    border: solid 1px gray;
    background-color: antiquewhite;


}
